footer {
	padding: 61px 101px;
	background-color: #2e2925;
}

/*footer .righ_part {
	padding: 0;
}*/

footer .bottom_menu {
	margin-bottom: 98px;
}

footer .menu1 a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

footer .menu1 a:hover {
	color: #C5BFBF;
}

footer .menu1 a li {
	margin-bottom: 22px;
}

footer .menu2 {
/*	margin-left: 49px;*/
}

footer .menu2 a {
	font-size: 18px;
	color: #fff;
	margin-bottom: 27px;
	text-decoration: none;
	transition: 0.3s;
}

footer .menu2 a:hover {
	color: #C5BFBF;
}

footer .menu2 #firstLi {
	padding-bottom: 15px;
}

footer .inner_menu {
	margin-top: 15px;
	margin-bottom: 39px;
}

footer .inner_menu a {
	font-size: 15px;
	color: #fff;
}

footer .copyright {
	color: #c8c8c8;
	font-size: 11px;
}

/*footer .logos {
	background: url(../../img/BG.png);
}*/

footer .logos {
	float: left;
	text-align: center;
	border-right: 1px solid #fff;
	padding-right: 38px;
}

footer .logos .main_footer_logo:after {
	width: 40px;
	height: 7px;
	background: #fdb71a;
	margin-top: 20px;
	display: block;
	content: '';
	margin: 48px auto;
}

footer .logos .small_logos img {
	margin-left: 13px;
}

footer .left_part {
	padding: 0;
}

footer .contacts {
	padding: 23px 30px;
}

footer .contacts .coordinates,
footer .contacts .address {
	font-size: 20px;
	color: #fff;
	margin-bottom: 26px;
}

footer .contacts .social i {
	font-size: 25px;
	color: #fff;
	margin-bottom: 28px;
	margin-right: 25px;
}

footer .contacts a {
	padding: 14px 20px;
	font-size: 22px;
	color: #fff;
	background-color: #fdb71a;
	display: inline-block;
	text-decoration: none;
	transition: 0.3s;
}

footer .contacts a:hover {
	background-color: #C59019;
}



