.last_content {
	border-bottom: 6px solid #fdb71a;
}

.last_content .floorplans {
	width: 40%;
	height: 514px;
	opacity: 0.7;
	background-color: black;
	background: rgba(0, 0, 0, 0.4) url(../../img/IMG4.png);
	background-blend-mode: darken;
	background-size: cover;
	float: left;
	text-align: center;
}

.last_content .floorplans h3 {
	font-size: 38px;
	color: #fff;
	text-align: center;
	line-height: 65px;
	margin-top: 130px;
	margin-bottom: 44px;
}

.last_content .floorplans h3:after {
	width: 40px;
	height: 7px;
	background: #fdb71a;
	margin-top: 20px;
	display: block;
	content: '';
	margin: 0 auto;
}

.last_content .floorplans a {
	padding: 15px 41px;
	background-color: #fff;
	font-size: 23px;
	color: black;
	text-decoration: none;
	display: inline-block;
	transition: 0.3s;
}

.last_content .floorplans a:hover {
	background-color: #C9C1C1;
}

.last_content .map img {
	float: right;
	width: 60%;
	height: 514px;
}