.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	font-size: 3em;
	position: absolute;
	margin: auto;

	top: 0;
	left: 30px;
	bottom: 0;
	right: 30px;
	height: 50px;
	width: 30px;

	color: white;
	opacity: 0;
	transition: 0.3s;
	outline: none;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
	outline: none;
}

.owl-carousel:hover .owl-nav button.owl-prev,
.owl-carousel:hover .owl-nav button.owl-next {
	opacity: 1;
}

.owl-carousel .owl-nav button.owl-prev {
	margin-left: 0px;
}
.owl-carousel .owl-nav button.owl-next {
	margin-right: 0px;
}

.owl-carousel:hover .owl-nav button.owl-prev {
	margin-left: 15px;
}
.owl-carousel:hover .owl-nav button.owl-next {
	margin-right: 15px;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
	font-size: 70px;
	vertical-align: top;	
	display: inline-block;
} 

.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 15px;
}

.owl-carousel .owl-dots button {
	width: 15px;
	height: 15px;
	margin: 5px;
	border-radius: 15px;
	box-shadow: 0 0 0 2px #ff4653;
	transition: 0.3s;
	outline: none;
}

.owl-carousel .owl-dots button.active {
	background-color: #ff4653;
}

.owl-carousel .owl-dots button:hover {
	background-color: #ff465355;
}

.owl-carousel .owl-dots button.active:hover {
	background-color: #ff4653;
}