/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* { 
	padding: 0; 
	margin: 0; 
	outline: 0; 
	box-sizing: border-box; 
}

*:before,
*:after { 
	box-sizing: inherit; 
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */


body {
	color: #ffffff;
	font-family: "Georgia";
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #5E5D5D;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 42px;
	color: #484848;
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 10px;
}

/* ------------------------------------------------------------ *\
	Clear
\* ------------------------------------------------------------ */

.clear {
	position: relative;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	width: 1170px;
	margin: 0 auto;
}

/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
	background-size: cover;
	padding: 72px 0 119px;
}

/* ------------------------------------------------------------ *\
	logo_nav
\* ------------------------------------------------------------ */

.logo_nav .logo {
	float: left;
	margin: 0 0 124px 2px;
}

.logo_nav nav {
	float: right;
	margin: 30px 7px 0 9px; 
}

.logo_nav ul {
	list-style: none;
}

.logo_nav li {
	float: left;
}

.logo_nav li + li {
	margin-left: 28px;
}

.logo_nav li a {
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
	font-family: "Arial";
	transition: 0.3s;
}

.logo_nav li a:hover {
	color: #DBDADA;
}

/* ------------------------------------------------------------ *\
	header_content
\* ------------------------------------------------------------ */

.header_content {

	text-align: center;
	font-size: 15px;
	line-height: 24px;
	color: #bebebe;
	font-family: "Arial";
}

.header_content h1 {
	width: 972px;
	line-height: 71px;
	font-size: 60px;
	color: #ffffff;
	font-family: "Georgia";
	margin: 0 auto 47px;
	font-weight: 100;
	word-spacing: 5px;
}

.header_content p {
	margin: 0 auto;
	margin-bottom: 85px;
}

.header_content .btn a {
	display: inline-block;
	padding: 0 47px 0 45px;
	font-size: 27px;
	height: 72px;
	line-height: 72px;
	color: #ffffff;
	font-family: "Trebuchet MS";
	text-decoration: none;
	background-color: #fd4b45;
	border-radius: 10px;
	transition: 0.3s;
}

.header_content .btn a:hover { 
	background-color: #DD433E;
}


/* ------------------------------------------------------------ *\
	section-promote
\* ------------------------------------------------------------ */

.section-promote {
	padding: 128px 0 131px;
	text-align: center;
	font-size: 16px;
	line-height: 21px;
	color: #787878;
	font-family: "Trebuchet MS";
	text-align: center;
}

.section-promote h2 {
	font-size: 40px;
	line-height: 50px;
	color: #484848;
	font-weight: 200;
}

.section-promote h2:after {
	content: '';
	display: block;
	width: 149px;
	height: 3px;
	background-color: #00bd9b;
	margin: 59px auto 44px;
}

.section-promote p {
	margin-bottom: 57px;
}

.section-promote .btn a {
	padding: 15px 40px 13px 45px;
	background-color: #00bd9b;
	border-radius: 10px;
	font-size: 27px;
	color: #ffffff;
	font-family: "Trebuchet MS";
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

.section-promote .btn a:hover {
	background-color: #079A80;
}


/* ------------------------------------------------------------ *\
	section-about
\* ------------------------------------------------------------ */

.section-about {
	padding: 86px 0 65px;
	background-color: #646362;
}

.section-about .section-about-title {
	display: inline-block;
	vertical-align: top;
	margin: 0 200px 0 17px;
}

.section-about .section-about-title h2 {
	font-size: 43px;
	line-height: 38px;
	color: #ffffff;
	font-family: "Georgia";
	font-weight: 200;
}

.section-about .section-about-title h2:after {
	content: '';
	display: block;
	width: 113px;
	height: 3px;
	background-color: #ffffff;
	margin-top: 49px; 
}

.section-about .section-about-content {
	display: inline-block;
	width: 779px;
	height: 167px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	font-family: "Arial";
}


/* ------------------------------------------------------------ *\
	section-sevices
\* ------------------------------------------------------------ */

.section-services {
	padding: 154px 0 124px;
	font-size: 13px;
	line-height: 24px;
	color: #484848;
	font-family: "Arial"; 
}

.section-services h2 {
	font-weight: 200;
	font-family: "Georgia";
	letter-spacing: 0;
	margin-left: 14px;
}

.section-services h2:after {
	content: '';
	display: block;
	width: 113px;
	height: 3px;
	background-color: #494949;
	margin: 58px 0 119px 2px;
}

.section-services .section-services-content {
	text-align: center;
	font-size: 13px;
	line-height: 24px;
	color: #484848;
	font-family: "Arial";
}

.section-services .web_design,
.section-services .print_design,
.section-services .web_dev,
.section-services .wordpress,
.section-services .joomla,
.section-services .app_design {
	float: left;
	width: 313px;
	margin-left: 82px;
}

.section-services .web_design {
	margin-left: 36px;
}

.section-services .web_dev {
	margin-top: 5px;
}

.section-services .first-row h3,
.section-services .second-row h3 {
	font-size: 25px;
	line-height: 24px;
	color: #484848;
	font-family: "Trebuchet MS";
	font-weight: 200;
}

.section-services .web_design h3 {
	margin: 21px 0 19px;
}

.section-services .print_design h3 {
	margin: 14px 0 19px;
}

.section-services .web_dev h3 {	
	margin: 14px 0 19px;
}

.section-services .second-row {
	margin-top: 52px;
}

.section-services .wordpress {
	margin-left: 36px;
}

.section-services .joomla {
	margin-top: 4px;
}

.section-services .app_design {
	margin-top: -4px;
}

.section-services .wordpress h3 {
	margin: 13px 0 19px;
}

.section-services .joomla h3 {
	margin: 11px 0 19px;
}

.section-services .app_design h3 {
	margin: 10px 0 19px;
}

/* ------------------------------------------------------------ *\
	footer
\* ------------------------------------------------------------ */

.footer {
	background-color: #55514c;
	padding: 26px 0 23px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-family: "Arial";
	font-weight: 100;
}

.footer p {
	float: left;
	margin-left: 16px;
}

.footer a {
	float: right;
	font-size: 39px;
	margin-top: -8px;
	margin-right: 38px;
	cursor: pointer;
	transition: .3s;
	color: #fff;
}

.footer a:hover {
	transform: scale(1.1);
}