.topbar	{
	background: #1a1b1d;
	border-bottom: 5px solid #ff4653;
	height: 60px;
}

.topbar	ul {
	margin-top: 21px;
	float: left;
}

.topbar	ul:after {
	content: '';
	display: block;
	clear: both;
}

.topbar	ul li {
	float: left;
	color: #c4c4c4;
	font-size: 12px;
	font-family: 'tinos';
	border-left: 1px solid #c4c4c4;
}

.topbar	ul li:first-child {
	border: none;
}

.topbar	ul li:first-child a {
	padding-left: 0;
}

.topbar	ul li a {
	padding: 0 5px;
	color: inherit;
	text-decoration: none;
}

.topbar	ul li a:hover {
	text-decoration: none;
	 color: #ABAAAA;
}

.topbar form {
	float: right;
	margin-top: 15px;
	position: relative;
	width: 100%;
	max-width: 210px;
}

.topbar form > div {
	width: 100%;
	position: relative;
}

.topbar form input {
	border: none;
	background: white;
	border-radius: 100px;
	height: 25px;
	width: 100%;
	outline: none;
	padding: 0 30px 0 15px;
	box-sizing: border-box;
}

.topbar form button {
	position: absolute;
	top: 4px;
	right: 6px;
	font-size: 10px;
	height: 19px;
	width: 19px;
	padding: 0;
	background: #1a1b1d;
	border: none;
	color: white;
	border-radius: 50px;
}

.topbar form button:hover {
	background: #4F5052;
}


/*Small*/

@media only screen and (max-width: 767px) {
	.topbar form {
		max-width: 100%;
}

	.topbar form > div {
		width: 80%;
		margin: 0 auto;
}
}