@font-face {
    font-family: 'tinos';
    src: url('../fonts/tinos/tinos-regular-webfont.woff2') format('woff2'),
         url('../fonts/tinos/tinos-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}